# Visual Studio Files
.vs/*
*.sln
*.vcxproj
*.vcxproj.user
*.sln.DotSettings.user

# Jetbrain Rider Files
.idea/*
script/editor/.idea/*

# C++ Immediate Files
*.tlog
*.obj
*.log
*.idb
*.pdb
*.recipe
*.exe
*.ilk
*.iobj
*.ipdb

# Python Cache Files
*.pyc
*.pyo
*.pyi

# Python Stub Files
script/stubs

# Nene Immediates Files
.bin/*
.package/*
toolchain/.idea/*
toolchain/__pycache__/*
toolchain/common/__pycache__/*
source/editor_wrapper/x64/*
*.DotSettings
