# Visual Studio Files
.vs/*

# Jetbrain Rider Files
.idea/*
script/editor/.idea/*

# C++ Immediate Files
*.tlog
*.obj
*.log
*.idb
*.pdb
*.recipe
*.exe
*.ilk
*.iobj
*.ipdb

# Python Cache Files
*.pyc
*.pyo

#
.bin/*
toolchain/.idea/*
toolchain/__pycache__/*
toolchain/common/__pycache__/*
