# Visual Studio Files
.vs/*
.vscode/*
*.sln
*.vcxproj
*.vcxproj.user
*.sln.DotSettings.user

# Jetbrain Rider Files
.idea/*
script/editor/.idea/*

# C++ Immediate Files
*.tlog
*.obj
*.log
*.idb
*.pdb
*.recipe
*.exe
*.ilk
*.iobj
*.ipdb
!script/builder/vistual_studio/tool/vswhere.exe

# Python Cache Files
*.pyc
*.pyo
*.pyi

# Python Stub Files
script/stubs

# Nene Immediates Files
App.bat
Editor.bat
*.DotSettings
.bin/*
.package/*
source/editor_wrapper/x64/*

